.container, .maximized{
    margin-top: 10px;
    margin-bottom: 10px;        
    .row {
        margin-bottom: 10px;
    }
}

.toolbar{
    align-items: center;
    height: 30px;
    .maximize{
        flex-grow:0;
        padding-right: 10px;
        transition: font-size 0.1s ease;
    }
    .maximize:hover{
        font-size: 1.25em;
    }

}

#editor{
    border: none;
    resize: vertical;
}

.minimized{
    display:none;
}

.maximized{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 99vw;
    min-height: 100vh;
    #editor{
        min-height: 96vh;
    }
}
